@import "../abstracts/abstracts.scss";

body {
  color: #333;
  font-family: $text-font-stack;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.9rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.7rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.3rem;
}

@include atSmall {
  h1 {
    font-size: 6.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.9rem;
  }
  h5 {
    font-size: 1.7rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

a {
  color: $mainBlue;

  &,
  &:hover {
    text-decoration: none;
  }
}

p, li {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

p {
  margin: 0 0 1.65em 0;
}

blockquote,
blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}
