.metabox {
  $root: &;

  background-color: $beige;
  border-radius: 3px;
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 30px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);

  @include m('position-up') {
    @include absolute($top: 0);

    transform: translateY(-50%);
  }

  @include m('with-home-link') {
    padding: 0;
  }

  @include e('content') {
    margin: 0;
    font-size: 0.9rem;
    color: adjust-color($beige, $lightness: -45%, $saturation: -33%);
  }

  @include e('parent-link') {
    #{$root} & {
      background-color: $mainBlue;
      color: #fff;
      display: inline-block;
      padding: 10px 15px;
      border-radius: 3px 0 0 3px;
      font-weight: normal;

      &:hover {
        text-decoration: none;
        background-color: adjust-color($mainBlue, $lightness: -5%);
      }
    }
  }

  @include e('current-page') {
    color: adjust-color($beige, $lightness: -45%, $saturation: -33%);
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  @include e('main') {
    padding: 10px 15px 10px 11px;
  }
}
